.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;

  background-color: var(--color-badge);

  border: 0;
  border-top-left-radius: var(--radius-xl);
  border-bottom-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);

  padding: 2px 5px;

  &.line-number {
    width: 25px;
    padding: 2px 0;
    margin: 0 3px 0 0;
  }
}

.curved-arrow {
  &.phrase-link {
    align-self: flex-start;
    margin-left: 10px;
    margin-right: 3px;
  }
}

.span-bubble {
  position: relative;

  /* SpanType.Repetition */
  &.repetition {
    background-color: var(--color-repetition);

    &.deemphasized {
      background-color: var(--color-repetition-lite);
    }

    &.pending {
      background-color: var(--color-orange-200);
      border-color: var(--color-orange-400);
    }

    &.emphasized, &.selected {
      background-color: var(--color-repetition-heavy);
    }
  }
  
  /* SpanType.Source */
  &.source {
    background-color: var(--color-source);
    
    &.deemphasized {
      background-color: var(--color-source-lite);
    }

    &.pending {
      background-color: var(--color-blue-200);
      border-color: var(--color-blue-400);
    }

    &.emphasized, &.selected {
      background-color: var(--color-source-heavy);
    }
  }

  /* SpanType.Overlapping */
  &.overlapping {
    background-color: var(--color-overlapping);

    &.deemphasized {
      background-color: var(--color-overlapping-lite);
    }
    
    &.pending {
      background-color: var(--color-fuchsia-300);
      border-color: var(--color-fuchsia-400);
    }

    &.emphasized, &.selected {
      background-color: var(--color-overlapping-heavy);
    }
  }

  /* SpanType.Text */
  &.text {
    /* plaintext spans sit on top of slightly-overlapping phrase & pending bubbles */
    z-index: 2;
  }

  &.pending {
    border: 2px dashed;
  }

  &.pending, &.emphasized, &.selected {
    font-weight: 600;
  }
  
  &.pending {
    /* pending bubble spans sit on top of phrase bubbles, but not over plaintext */
    z-index: 1;
  }

  &.clickable {
    cursor: pointer;
  }

  &:not(.text):not(.simple) {
    &.leftmost {
      border-top-left-radius: var(--radius-xl);
      border-bottom-left-radius: var(--radius-xl);
      padding-left: 4px;
      margin-left: -4px;
    }
  
    &.rightmost {
      border-top-right-radius: var(--radius-xl);
      border-bottom-right-radius: var(--radius-xl);
      padding-right: 4px;
      margin-right: -4px;
    }

    &:not(.leftmost):not(.selected):not(.previous-selected),
    &:not(.leftmost-selected).selected {
      border-left: 1px dashed var(--color-span-border);
      padding-left: 1px;
    }

    &:not(.rightmost) {
      padding-right: 1px;
    }

    &.selected {
      border-top: 2px solid;
      border-bottom: 2px solid;
      border-color: var(--color-span-border);
    }
  
    &.selected.leftmost, &.leftmost-selected {
      border-left: 2px solid;
      border-color: var(--color-span-border);
    }
    
    &.selected.rightmost, &.rightmost-selected {
      border-right: 2px solid;
      border-color: var(--color-span-border);
    }
  }

  &.simple {
    font-family: var(--font-mono);
    border: 0;
    // same as .text-always-menu-gray
    color: var(--contexify-item-color) !important;
    
    border-top-left-radius: var(--radius-xl);
    border-bottom-left-radius: var(--radius-xl);
    padding-left: 4px;

    border-top-right-radius: var(--radius-xl);
    border-bottom-right-radius: var(--radius-xl);
    padding-right: 4px;
  }
}
